body{
    margin: 0px;
    padding: 0px;
    background-image: url(https://wallpaperaccess.com/full/1854073.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* Heading for the main file */

h2{
    margin: 10px 0px 0px 10px;
}
#heading{
    background-color:black;
    box-shadow: cyan 0 0 10px 2px;
    color: white;
    padding: 10px;
    
}
.header-container{
    height: 4rem;
    float: right;
    padding: 10px;
}
.header-container a{
 color: inherit;
 text-decoration: none;
}
.main{
    padding: 10px;
}
#main-heading{
    text-align:center;
    color:cyan;
}
#flex{
    display: flex;
    flex-direction: column;
}

/* Task Fields */

.task{
    margin: 23px 0px;
    justify-content: space-around;
    font-size: large;
    font-weight: 400;
    font-style: italic;
    color:white;
}
/* Submit Button */
#button{
    color: white;
    border: none;
    background-color: aquamarine;
    padding: 5px;
    border-radius: 7px;
    font-size: large;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
/* Task Fields Heading */
.label{
    float: left;
    width: 40%;
    font-weight: bold;

}
/* Input fields stylling */
.inputs>input,textarea{
    width: 50%;
    border: solid white 0.5px;
    background-color: transparent;
    border-radius: 10px;
    outline: none;
    color: white;
    padding: 5px;
}
#taskList li{
    color: white;
    box-shadow: white 0 0 10px 1px;
    margin: 10px 0;
    text-align: left;
    padding: 5px;

}
#taskList{
    color: white;
    text-align: center;
    padding-inline-start: 0;
    margin-top:50px ;
    list-style: none;
}

#input-search{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: inset black 0 0 5px 2px;
}
#search{
    padding: 5px 10px;
    float: right;
    margin: 10px 0px; 
    width: 100%;
    background-color: black;
    outline: none;
    border: none;
    color: white;
    box-shadow: white 0 0 5px 2px;
    border-radius: 5px;
}
/* adding image in evaluation page */
#taskList li img{
    height: 100%;
    width: 100%;

}
#result-heading{
    color: white;
    text-align: center;
}
#counter{
    color: white;
    font-weight: bold;
}

a{
    box-shadow: 0 0 1px 1px;
    padding: 5px;
}